name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  actions: read
  contents: read

env:
  NODE_OPTIONS: '--max-old-space-size=9000'

jobs:
  main-new:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./ts-solution
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: ts-solution/package-lock.json
      - run: npm ci --legacy-peer-deps
      - uses: nrwl/nx-set-shas@v4
      - run: npx nx run-many -t typecheck --parallel 1
  main-new-tsc:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./ts-solution
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: ts-solution/package-lock.json
      - run: npm ci --legacy-peer-deps
      - uses: nrwl/nx-set-shas@v4
      - run: npx tsc --build --emitDeclarationOnly --pretty --verbose
  main-old:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./ts-integrated
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: ts-integrated/package-lock.json
      - run: npm ci --legacy-peer-deps
      - uses: nrwl/nx-set-shas@v4
      - run: npx nx run-many -t typecheck --parallel 5

